.managementpage h1 {
  color: white;
  text-align: center;
  align: center;
  text-transform: uppercase;
  font-weight: 20px;
  font-size: 24px;
  font-family: STFangsong;/*ff-clan-web-pro-wide;*/
}

.managementpage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  //display: -moz-box;
  //-moz-box-wrap: wrap;
}

.adduser-section {
  font-weight: 20px;
}

a {
  color: white;
}
a:link{text-decoration:none;
}

ul.block-list {
  list-style-type:none;
  text-transform: uppercase;
}

.block-list {
  border-color: #3a3a48;
}

.block-list>li {
  border-bottom-width: 1px;
  padding: 8px;
}

.notif-header {
  align: center;
  text-align: center;
}

.notif-text-body {
  text-align: left;
}

.cmnpy-home {
  text-align: center;
  font-style: italic;
}

span.company-home {
  color: blue;
  font-size: large;
  font-weight: bold;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  /*-moz-box-wrap: wrap;*/
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
  text-align: left;
  border-right:1px solid blue;
  background-color: #00ffff;
  color: white;
  padding: 22px;
}

.col-3 {
  width: 25%;
  text-align: center;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
  /*text-align: center;*/
  border-top:1px solid #F00;
  /*padding: 22px !important;*/
  padding: 22px 0px 0px 22px;
  background-image: url('/static/img/bg_img.jpg');
  background-repeat: repeat-x repeat-y;
  color: white;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
  text-align: center;
}

.login-container {
  background-image: url('/static/img/bg_img.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-position: top;
}

.form-signin {
  align: center;
  text-align: center;
}

.login-user {
  background-color: grey;
  color: white;
  text-align: center;
  align: center;
  text-transform: uppercase;
  font-weight: 20px;
  font-size: 40px;
  font-family: STFangsong;
  margin-left: 10%;
}

.fgt-passwd {
  color: white;
  align: right;
  font-size: 30px;
  font-family: STFangsong;
  background-color: transparent;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 50%;
}

.notif-text-body {
  margin-top: 60px;
}

.company-home {
  margin-bottom: 1px;
}

.price-change-form {
  font-family: STFangsong;
}

.user-welcome-page {
  margin-top: 10%;
  margin-left: 5%;
  font-family: STFangsong;
  font-size: 20px;
}

#welcome-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#general-info-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#logout-change-password {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#curr_user {
  text-align: center;
  background-color: #2B547E;
  color: white;
}

#message-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  font-size: medium;
}
/*
#add-new-user {
  font-size: medium;
  align: left;
  margin: 5px 20px;
}

#delete-user {
  font-size: medium;
  align: left;
  margin: 5px 20px;
}
*/

#user-mgr {
  font-size: medium;
  align: left;
  margin: 5px 20px;
}

#user-add-del-page {
  margin-top: 10%;
  font-family: STFangsong;
  font-size: 24px;
}

#user-add-form, #user-del-form {
  margin-left: 15px;
  align: middle;
}

#host-game-control {
  font-size: medium;
  text-align: left;
}

#host-game-kb-ctrl {
  font-size: medium;
  text-align: left;
}

#price-form {
  text-align: left;
  margin-top: 10%;
  margin-left: 50px;
  /*border-right:1px solid black;*/
}

#price-list-page {
  margin: 0px 50px;*/ /* top left */
}

#login-form {
  margin-top: 180px;
  margin-left: 10px;
  text-align: center;
}

#login-but {
  width: 90%;
  margin-left: 10%;
  font-size: 40px;
  font-family: STFangsong;
}

#add-user-but, #del-user-but, #change-price-but, #start-game-but, #stop-game-but,
#reset-game-but, #game-stat-but {
  font-size: 20px;
  font-family: STFangsong;
  color: white;
  background-color: gray;
}

#host-name, #game-name, #start-host,  #running-host, #game-stat-period, #game-stat-ord {
  font-size: 15px;
  font-family: STFangsong;
  color: white;
  background-color: gray;
  width: 150px;
}

#start-game {
  font-size: 15px;
  font-family: STFangsong;
  color: white;
  background-color: gray;
  width: 120px;
}

#host-game-control, #stat-config-form{
  margin-top: 10%;
}

.notif-header {
  margin-top: 90px;
  font-family: STKaiti;/*Microsoft YaHei;*/
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
}

.notif-text-body{
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 22px;
  font-size: 20px;
}

table.game-stat-table {
  margin-left: 10px;
  padding: 30px;
}
table.detail-game-stat {
  margin-left: 10px;
  padding: 30px;
}

body, html {
    height: 100%;
}
body {
    padding-left: 1px;
    font-size: large;
}

table {
  padding: 10px;
  border-collapse: collapse;
  font-size: small;
  spacing: 20px;
  cellpadding: 10px;
}

th {
  border: 2px solid;
  padding: 15px;
  font-family: STFangsong;
}

td, tr {
  border: 2px solid;
  padding: 20px;
  font-family: STFangsong;
  font-size: large;
}

#logout-change-password button {
  position: relative;
  top: 15px;
}

@media only screen and (max-width: 500px) {
  p {
    display: none;
  }
}

* {
  /*outline: 1px solid blue !important;*/
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
