.managementpage h1 {
  color: black;
  text-align: center;
  align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  font-family: ff-clan-web-pro-wide;
}

.host-game-table {
  width: 95%;
  align: center;
  padding: 20px;
  spacing: 10px;
}

.adduser-section {
  font-weight: 20px;
}

a {
  color: white;
}
a:link{text-decoration:none;
}

ul.block-list {
  list-style-type:none;
  text-transform: uppercase;
}

.block-list {
  border-color: #3a3a48;
}

.block-list>li {
  border-bottom-width: 1px;
  padding: 8px;
}

.row {
  width: 100%;
  display: flex;
}

.row-70 {
  width: 70%;
  display: flex;
}

.row-30 {
  width: 30%;
  display: flex;
}

.row-10 {
  width: 10%;
  display: flex;
}

.row-90 {
  width: 90%;
  display: flex;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
  text-align: left;
  border-right:1px solid blue;
  background-color: #2B547E;
  color: white;
  display: flex;
}

.col-3 {
  width: 25%;
  text-align: center;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
  text-align: center;
  border-top:1px solid #F00;
  padding: 32px !important;
  background-color: #98AFC7;
  display: flex;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

table {
  margin: auto;
  background-color: #F0F8FF;
  border-style: solid solid solid solid;
  border: 2px;
  color: black;
}

th {
  font-weight: strong;
}

@media only screen and (max-width: 500px) {
  p {
    display: none;
  }
}

* {
  /*outline: 1px solid blue !important;*/
  display: flex;
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

* {
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
